.alone-chat {
    
}

.block {
    display: block;
    margin-top: 15px;
}

.form {
    border: solid 2px;
    padding: 10px 10px;
    float: left;
}

.messages-story {
    border: solid 1px;
    height: 100px;
    width: 250px;
    margin-top: 10px;
    overflow: auto;
}

.inputText {
    margin-left: 10px;
}

.form2 {
    border: solid 2px;
    padding: 10px 10px;
    float: left;
    margin-left: 25px;
}

.messages-story2 {
    border: solid 1px;
    height: 100px;
    width: 250px;
    margin-top: 10px;
    overflow: auto;
}

.form3 {
    border: solid 2px;
    padding: 10px 10px;
    float: left;
    margin-left: 25px;
}

.data {
    display: block;
    margin-top: 10px;
}

/* end of line */