.block {
    display: block;
    margin-top: 15px;
}

.form {
    border: solid 2px;
    padding: 10px 10px;
    float: left;
}

.messages-story, .messages-story2 {
    border: solid 1px;
    height: 100px;
    width: 250px;
    margin-top: 10px;
    overflow: auto;
}

.inputText {
    margin-left: 10px;
}

.form2, .form3 {
    border: solid 2px;
    padding: 10px 10px;
    float: left;
    margin: 25px 25px;
    height: 200px;
    width: 200px;
}

.data {
    display: block;
    margin-top: 10px;
}

.form4 {
    border: solid 2px;
    padding: 10px 10px;
    float: left;
    margin: 25px 25px;
}

.inputA, .inputB {
    display: block;
    margin-top: 10px;
}

.selectMathType {
    display: block;
    margin-top: 5px;
}

.textMathType {
    display: block;
    margin-top: 10px;
}

.checkbox {  
    margin-top: 10px;
}

.btnOutput {
    display: block;
    margin-top: 12px;
}

.js-output, .js-output2 {
    margin-top: 12px;
}

.input-name, 
.input-email,
.input-number {
    display: block;
    margin: 10px;
}

.labelName, .formBtn {
    display: block;
    margin-top: 15px;
}

.js-formOutput {
    margin-top: 10px;
}

.ulist {
    margin-top: 10px;
}

.past-calc {
    margin-top: 10px;
}

.form6 {
    border: solid 2px;
    padding: 10px 10px;
    float: left;
    margin: 25px 25px;
    height: 200px;
    width: 200px;
    overflow: auto;
}

.output {
    margin-top: 10px;
}

.js-textarea {
    margin-top: 30px;
    height: 200px;
}

.buttons {
    margin-top: 40px;
}

.lastForm {
    margin-top: 50px;
    text-align: center;
}

.js-output-card {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.output-image {
    margin-top: 100px;
}